[submodule "layers/meta-intel-fpga"]
	path = layers/meta-intel-fpga
	url = https://git.yoctoproject.org/git/meta-intel-fpga
	branch = kirkstone
[submodule "layers/meta-intel-fpga-refdes"]
	path = layers/meta-intel-fpga-refdes
	url = https://github.com/altera-opensource/meta-intel-fpga-refdes.git
[submodule "layers/meta-selinux"]
	path = layers/meta-selinux
	url = https://git.yoctoproject.org/meta-selinux
[submodule "layers/poky"]
	path = layers/poky
	url = https://git.yoctoproject.org/poky
[submodule "layers/meta-security"]
	path = layers/meta-security
	url = https://git.yoctoproject.org/meta-security
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
